<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.rfics.managerment.OrgansUsersMapMapper" >
  <resultMap id="BaseResultMap" type="com.project.rfics.managerment.OrgansUsersMap" >
    <id column="organ_user_no" property="organUserNo" jdbcType="INTEGER" />
    <result column="organ_no" property="organNo" jdbcType="INTEGER" />
    <result column="user_no" property="userNo" jdbcType="INTEGER" />
    <result column="check_flag" property="checkFlag" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    organ_user_no, organ_no, user_no, check_flag, create_time, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from organs_users_map
    where organ_user_no = #{organUserNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from organs_users_map
    where organ_user_no = #{organUserNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.project.rfics.managerment.OrgansUsersMap" useGeneratedKeys="true" keyProperty="organUserNo" >
    insert into organs_users_map (organ_no, user_no, check_flag, 
      create_time, update_time, remark
      )
    values (#{organNo,jdbcType=INTEGER}, #{userNo,jdbcType=INTEGER}, #{checkFlag,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.project.rfics.managerment.OrgansUsersMap" useGeneratedKeys="true" keyProperty="organUserNo" >
    insert into organs_users_map
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="organNo != null" >
        organ_no,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="checkFlag != null" >
        check_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="organNo != null" >
        #{organNo,jdbcType=INTEGER},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=INTEGER},
      </if>
      <if test="checkFlag != null" >
        #{checkFlag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.rfics.managerment.OrgansUsersMap" >
    update organs_users_map
    <set >
      <if test="organNo != null" >
        organ_no = #{organNo,jdbcType=INTEGER},
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=INTEGER},
      </if>
      <if test="checkFlag != null" >
        check_flag = #{checkFlag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where organ_user_no = #{organUserNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.rfics.managerment.OrgansUsersMap" >
    update organs_users_map
    set organ_no = #{organNo,jdbcType=INTEGER},
      user_no = #{userNo,jdbcType=INTEGER},
      check_flag = #{checkFlag,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where organ_user_no = #{organUserNo,jdbcType=INTEGER}
  </update>
</mapper>